/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* *********************************************
********************************************* */
/* Nav Related Styles */

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  align-items: center;
  margin: 0 auto;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
}
.list-items {
  display: flex;
  gap: 48px;
}
.item-text {
  color: #252432;

  font-size: 1rem;
  font-weight: 700;
}
.shop-text,
.about-text {
  color: #8987a1;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.cart-text {
  color: #000;
  font-size: 1rem;
  font-weight: 400;
}

/* Banner related styles */

.banner-container {
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.banner-title{
  color: #000;
font-size: 4.1rem;
font-weight: 700;
}
.fresh, .flowers{
  color: #E95A08;
font-size: 4.1rem;
font-weight: 700;
}
.banner-description{
  color: rgba(0, 0, 0, 0.50);
font-size: 1.3rem;
font-weight: 400;

}






/* Responsive Design */

@media screen and (max-width: 576px) {
  .nav-container {
    display: flex;
    width: 361px;
    justify-content: space-between;
    align-items: center;
  }
  .nav-container li:nth-child(-n + 3) {
    display: none;
  }
  .banner-container{
    flex-direction: column-reverse;
  }
}
